.login-form{
    &__wrapper{
        display: flex;
        justify-content: center;
        margin-top: 175px;
    }
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.8);
    }
}